<div style="text-align: center" class="py-3">
  <div class="main-divs">
    <h1 style="padding-top: 60px">
      Welcome to <span style="color: teal">UI Talks</span>
    </h1>
    <h3 style="color: rgb(100, 100, 219); font-family: Helvetica Neue">
      Here, you will get to study about diffrent article on React, Angular,
      Next.js, Vue and many stuffs of Frontend
    </h3>
  </div>
  <div class="main-divs">
    <h2 style="padding-top: 60px">
      Developing by
      <span
        style="
          color: maroon;
          font-size: 30px;
          font-weight: bold;
          font-style: italic;
        "
        >Rana Sarkar</span
      >
    </h2>
  </div>
</div>
